.APIDemo {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #96ceb2;

  align-items: center;
}

.APIDemo-header {
  height: 5vh;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.APIDemo-button:enabled, .APIDemo-button:disabled {
  margin: 5px;
}

.APIDemo-body {
  width: 90vw;
  height: 90vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em 20px;

  margin: 10px;
}

/* Column layout using grid */
/* ---Left column--- */
.APIDemo-tutorial {
  grid-column: 1;
  grid-row: 1 / span 3;

  background: white;
  overflow-y: auto;

  /* Place the scroll bar on the left */
  direction: rtl;
}

.APIDemo-tutorial * {
  /* Reset children's text direction back to left->right */
  direction: ltr;
}

/* ---Right column--- */
.APIDemo-code {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.APIDemo-output {
  grid-column: 2;
  grid-row: 3 / span 1;
}

.Monaco-Error-Line-Of-Code {
  background: yellow;
}