.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #96ceb2;
}

.App-header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-button {
  margin: 2vw;
  font-size: calc(10px + 2vmin);  
}

.App-textareas {
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.App-textareas textarea {
  width: 40%;
  height: 90vh;

  font-size: x-large;
}

.App-docs {
  text-align: left;
  padding: 5px;
}
