.Tutorial-output {
  white-space: pre-wrap;
  background: #f8f8f8;
  padding: 10px;

  font-family: "Fira Code", monospace;
}

.Tutorial-code-buttonbar {
  display: flex;
  justify-content: space-between;
}

.Tutorial-markdown {
  margin: 10px;
}

.Tutorial-markdown * {
  text-align: left;
}
